# Número central que vai receber as mensagens encaminhadas
# Formato: 5511999999999@c.us
CENTRAL_CHAT_ID=

# Contatos permitidos para enviar para o central (opcional)
# Exemplo: 5511888888888@c.us,5511777777777@c.us
ALLOWED_FORWARD_TARGETS=
